<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="static/datatables.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""/>
        <title>SZPERACZ ver. 0.0.0</title>
        <style>
            body {
                background-image: url('static/background_camo.png');
            }

            .list-group {
                max-height: 30em;
                margin-bottom: 1em;
                overflow-y:auto;
                -webkit-overflow-scrolling: touch;
            }

            #mapbox {
                max-height: 50em;
            }
            </style>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
</head>
<body>

    <div class="container-fluid">
        <div class="row p-2">
            <div class="col-md-12">
                <div class="p-5 text-white bg-dark rounded-3">
                    <h1 class="display-5 fw-bold">WELCOME TO SZPERACZ</h1>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-md-6">
                <div class="p-5 text-white text- bg-dark rounded-3">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="align-middle">Path to search:</span>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="system-path">
                                <option>C://My Documents/test_files/</option>
                                <option>D://</option>
                                <option>F://bulk_data/</option>
                                <option>F://bulk_data/new/recovered/</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-outline-light" type="button">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-5 text-white bg-dark rounded-3">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="align-middle">Creation time:</span>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="creation-time">
                                {% for date_option in files_date_options %}
                                    <option>{{ date_option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-outline-light" id="filter" type="button">Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-md-6">
                <nav class="navbar navbar-light bg-dark rounded-3">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1 text-white">Images found: {{ files_size }}</span>
                    </div>
                </nav>
                <table id="files-all" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            {% for key in files_dict_keys %}
                                <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr>
                                <td>{{ file.id }}</td>
                                <td>{{ file.path }}</td>
                                <td>{{ file.gps_lo }}</td>
                                <td>{{ file.gps_la }}</td>
                                <td>{{ file.creation_time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav class="navbar navbar-light bg-dark rounded-3">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1 text-white">Images with GPS found: {{ files_with_gps_size }}</span>
                    </div>
                </nav>
                <ul class="list-group">
                    {% for file in files_with_gps %}
                        <li class="list-group-item list-group-item-action">{{ file }}</li>
                    {% endfor %}
                </ul>
                <nav class="navbar navbar-light bg-dark rounded-3">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1 text-white">Image for ID 7 found:</span>
                    </div>
                </nav>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">{{ file_with_id }}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="p-5 mb-5 bg-dark rounded-3" id="mapbox">
                    <div id="map" style="height:700px; width:700px"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('#files-all').DataTable();
    });

    var map = L.map('map').setView([53.446472, 14.474652], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var markers = []
    var marker = L.marker([53.446472, 14.474652]).addTo(map); //Familijna 7

    function getPoints(){
        return $.ajax({
        url: "http://localhost:5000/getPoints",
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            return data;
        }
        });
    };

    $('#filter').click(function(){
        getPoints().done(function(data){
            for (let i = 0; i < data.length; i++){
                marker = L.marker([data[i][1], data[i][0]]).addTo(map);
                markers.push(data[i]);
            }
        })
    });
</script>
</html>
