<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>SZPERACZ ver. 0.0.0</title>
    <style>
        body {
          background-image: url('static/background_camo.png');
        }

        .list-group {
            max-height: 30em;
            margin-bottom: 1em;
            overflow-y:auto;
            -webkit-overflow-scrolling: touch;
        }

        #mapbox {
            max-height: 50em;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <div class="row p-2">
            <div class="col-md-12">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h1 class="display-5 fw-bold">WELCOME TO SZPERACZ</h1>
                    <button class="btn btn-outline-light" type="button">Search</button>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-md-4">
                <nav class="navbar navbar-light bg-dark rounded-3">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1 text-white">Images found: {{ files_size }}</span>
                    </div>
                </nav>
                <ul class="list-group">
                    {% for file in files %}
                        <li class="list-group-item list-group-item-action">{{ file }}</li>
                    {% endfor %}
                </ul>
                <nav class="navbar navbar-light bg-dark rounded-3">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1 text-white">Images with GPS found: {{ files_with_gps_size }}</span>
                    </div>
                </nav>
                <ul class="list-group">
                    {% for file in files_with_gps %}
                        <li class="list-group-item list-group-item-action">{{ file }}</li>
                    {% endfor %}
                </ul>
                <nav class="navbar navbar-light bg-dark rounded-3">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1 text-white">Image for ID 7 found:</span>
                    </div>
                </nav>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">{{ file_with_id }}</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="p-5 mb-5 bg-dark rounded-3" id="mapbox">
                    <div class="container-fluid">
                        <h1 class="display-5 fw-bold text-white">Map placeholder -- to be done...</h1>
                        <img class="img-fluid" src="static/test_map_familijna.png" alt="Order of St. Agnes">
                    </div>
                </div>
            </div>
      </div>
    </div>
</body>
</html>
